body {
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

.slider {
	background-color: #f77;
	height: 35%;
	margin-top: -46px;
}

main section, aside {
	background-color: #666;
	border: 5px solid #fff;
}

section img {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

@media (max-width: 992px){
	.col-md-2 {
		display: none;
	}
	.col-md-10 {
		width: 100%;
	}
}
