body {
	color: #fff;
	font-family: 'cwTeXFangSong', serif;
}

.header {
	background-color: #999;
}

.pager li>a {
	background-color: #33f;
}

.pages {
	background-color: #333;
	margin-top: 65px;
}

.navChn {
	font-size: 1.5em;
	color: #fff;
}

.navEng {
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

.icon-bar {
	background-color: #fff;
}

#titleChn {
	font-size: 2.4em;
}

#titleEng {
	font-size: 1.2em;
}

footer {
	background-color: #000;
	height: 20%;
}

.slider {
	background-color: #f77;
	height: 30%;
}

main section, aside {
	background-color: #666;
	border: 5px solid #fff;
}

section img {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

@media (min-width: 992px) and (max-width: 1200px){
	.col-md-2 {
		display: none;
	}
	.col-md-10 {
		width: 100%;
	}
}
